.container {
  padding: 3rem;
}

.box {
  height: 10px;
  display: block;
  background-color: red;
}

.messageError {
  background-color: red;
  color: white;
  opacity: 0;
  transition: all linear 0.5s;
}

.messageError.show {
  opacity: 1;
}
